{
    "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",

    "logo": {
        "source": "arch_small",
        "padding": {
            "top": 1,
            "bottom": 1,
            "right": 1
        }
    },

    "display": {
        "separator": " ➜ ",
        "key": {
            "width": 0
        }
    },

    "modules": [
        "break",
        {
            "type": "os",
            "key": "Hp",
            "keyColor": "{{colors.primary.default.hex}}",
            "outputColor": "{{colors.on_surface.default.hex}}"
        },
        {
            "type": "kernel",
            "key": " ├ 󰌽 ",
            "keyColor": "{{colors.primary.default.hex}}"
        },

        {
            "type": "shell",
            "key": " ├ 󰞷 ",
            "keyColor": "{{colors.primary.default.hex}}"
        },
        {
            "type": "wm",
            "key": " ├ 󱂬 ",
            "keyColor": "{{colors.primary.default.hex}}"
        },
        {
            "type": "terminal",
            "key": " ├ 󰄛 ",
            "keyColor": "{{colors.primary.default.hex}}"
        },
        {
            "type": "memory",
            "key": " ├ 󰍛 ",
            "keyColor": "{{colors.primary.default.hex}}"
        },
        {
            "type": "command",
            "key": " └ 󰅐 ",
            "keyColor": "{{colors.primary.default.hex}}",
            "text": "echo $(( ($(date +%s) - $(date -d '2026-02-15' +%s)) / 86400 )) days"
        },
        "break"
    ]
}
