format = """\
[╭╴](fg:arrow)\
$username\
$directory\
$time\
(\
    $git_branch\
    $git_status\
)\
$cmd_duration
[╰─](fg:arrow)$character\
"""

add_newline = true

palette = "serpantinum"

[palettes.serpantinum]
arrow = "{{colors.tertiary.default.hex}}"
os = "{{colors.primary.default.hex}}"
os_admin = "{{colors.error.default.hex}}"
directory = "{{colors.outline.default.hex}}"
time = "{{colors.outline.default.hex}}"
node = "{{colors.primary.default.hex}}"
git = "{{colors.outline.default.hex}}"
git_status = "{{colors.surface_container.default.hex}}"
python = "{{colors.primary.default.hex}}"
rust = "{{colors.primary.default.hex}}"
duration = "{{colors.surface_container_high.default.hex}}"
text_color = "{{colors.on_surface.default.hex}}"
text_light = "{{colors.on_surface.default.hex}}"
text_dark = "{{colors.surface_container_lowest.default.hex}}"

[username]
style_user = 'os'
style_root = 'os_admin'
format = '[]($style)[  Hiram](bg:$style fg:text_dark)[]($style)'
disabled = false
show_always = true

[character]
success_symbol = "[󰍟](fg:arrow)"
error_symbol = "[󰍟](fg:red)"

[directory]
format = " [](fg:directory)[  $path ]($style)[$read_only]($read_only_style)[](fg:directory)"
truncation_length = 3
style = "fg:text_dark bg:directory"
read_only_style = "fg:text_dark bg:directory"
before_repo_root_style = "fg:text_dark bg:directory"
truncation_symbol = "…/"
truncate_to_repo = true
read_only ="  "

[directory.substitutions]
"Escritorio" = "  "
"Documentos" = "  "
"Descargas" = "  "
"Música" = " 󰎈"
"Imágenes" = "  "
"Vídeos" = "  "
"Proyectos" = " 󰊤 "

[time]
disabled = false
format = " [](fg:time)[ $time]($style)[](fg:time)"
time_format = "%H:%M"
style = "fg:text_dark bg:time"

[cmd_duration]
format = " [](fg:duration)[ $duration]($style)[](fg:duration)"
style = "fg:text_light bg:duration"
min_time = 500

[git_branch]
format = " [](fg:git)[$symbol$branch](fg:text_dark bg:git)[](fg:git)"
symbol = " "

[git_status]
format = '([ ](fg:git_status)[ $all_status$ahead_behind ]($style)[](fg:git_status))'
style = "fg:text_light bg:git_status"

[package]
disabled = true

# [nodejs]
# format = "[ ](fg:node)[$symbol$version]($style)[](fg:node)"
# style = "bg:node fg:text_light"
# symbol = " "
# version_format = "${raw}"
# disabled=false

# [rust]
# format = "[ ](fg:rust)[$symbol$version](bg:rust fg:text_color)[](fg:rust)"
# symbol = " "
# version_format = "${raw}"
# disabled=false

# [bun]
# disabled=false
# format = "[ ](fg:bun)[$symbol$version](bg:bun fg:text_color)[](fg:bun)"
# symbol = " "
# version_format = "${raw}"

# [python]
# disabled=false
# format = '[ ](fg:python)[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\))]($style)[](fg:python)'
# symbol = " "
# version_format = "${raw}"
# style = "fg:text_light bg:python"
